<section class="page">
  <h1 class="page-title">Lägg till bil</h1>
  <form class="shadow" method="post">
    <div class="form-control">
      <label for="regno">Registreringsnummer</label>
      <input id="regno" type="text" required />
    </div>
    <div class="form-control">
      <label for="make">Märke</label>
      <input id="make" type="text" required />
    </div>
    <div class="form-control">
      <label for="model">Modell</label>
      <input id="model" type="text" required />
    </div>
    <div class="form-control">
      <label for="modelYear">Modell År</label>
      <input id="modelYear" type="text" required />
    </div>
    <div class="form-control">
      <label for="mileage">Antal km</label>
      <input id="mileage" type="text" required />
    </div>
    <div class="form-control">
      <div class="buttons-container">
        <button type="Submit" class="btn btn-primary">
          <i class="fa-sharp fa-solid fa-floppy-disk"></i> Spara
        </button>
        <a routerLink="/fordon" class="btn btn-warning"
          ><i class="fa-solid fa-arrow-left"></i> Avbryt</a
        >
      </div>
    </div>
  </form>
</section>
